.App {
  text-align: center;
}

/*general styling*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 74px;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0px;
  background-color: #fff;
  color: #0B1D3D !important;
  overflow-x: hidden;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  line-height: normal;
}

/*Navifation bar*/
.app-Nav{
  background-color: #0B1D3D;
  min-height: 10vh;
  color: white;
}

nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
  transition: 0.35 ease-in-out;
}

nav.navbar.scrolled{
  padding: 0px 0;
  background-color: #121212;
}

nav.navbar .nav-container{
 display: flex;
 justify-content: space-between;
}
nav.navbar .navbar-brand {
  width: 16%;
}
nav.navbar .navbar-brand img{
  max-width: 200px;
  font-size: 24px;
}

nav.navbar .navbar-nav{
  display: flex;
  width: 80%;
  position: relative;
  margin: 0 auto;
  justify-content: right;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 20px;
  font-size: 18px;
  opacity: 0.75;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
  color: greenyellow !important;
}

span.navbar-text {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.navbar-text button {
  font-weight: 700;
  color: #fff;
  padding: 5px 34px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: greenyellow;
  border-radius: 20px 20px;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover{
  opacity: 0.8;
}

.navbar-text button span {
  z-index: 1;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}

nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before{
 
  width: 24px;
  height: 2px;
  z-index: 2;
  background-color: #fff;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after{
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform:  translateY(8px) rotate(-45deg);
  background-color: #fff;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

/*Header section*/

.app-header {
  background-image: url('./assets/images/Group1197.png'),url('./assets/images/Path898.svg'),url('./assets/images/Group1200.svg'),url('./assets/images/Path948.svg');
  background-position: top right,top 50px right 15px, left 25% bottom 55%,left 0px bottom 50%;
  background-repeat: no-repeat;
}
.app-header .div1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 5%;
  margin-top: 10%;
  width: 50%;
}

.app-header .div1 h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  text-align: left;
  font-weight: 400;
  color: yellowgreen;
}
.app-header .div1 h2 span{
  color: #0B1D3D;
}

.app-header .div1 p{
  font-size: 28px;
  text-align: left;
  color: #0B1D3D;
}

.app-header .div1 button{
  background-color: yellowgreen;
  padding: 5px;
  color: #fff;
  font-size: 26px;
  border:none ;
  border-radius: 20px 20px;
}

.app-header .div2 {
  display: flex;
  align-items: start;
  padding: 0 5%;
  margin-top: 10%;
  gap: 10%;
}

.app-header .div2 img{
  width: 400px;
  margin-left: 5%;
}

.app-header .div2 .content{
  display: flex;
  width: 80%;
  flex-direction: column;
}

.app-header .div2 .content h4{
  font-size: 30px;
  font-weight: 600;
  text-align: left;
  color: #0B1D3D;
}

.app-header .div2 .content .line-col{
  display: flex;
  gap: 10%;
  justify-content: space-between;
  position: relative;
}
.app-header .div2 .content p{
  font-size: 28px;
  text-align: left;
  color: #0B1D3D;
  margin-left: 5%;
}
.app-header .div2 .content span.line {
  display: inline-block;
  width: 5px;
  height: 100px;
  position: absolute;
  left: 0;
  background-color: yellowgreen;

}
.app-header .div2 .content button{
  background-color: #fff;
  width: 200px;
  padding: 5px;
  color: yellowgreen;
  font-size: 26px;
  border: solid yellowgreen 1px;
  border-radius: 20px 20px;
}

.app-header .div3 {
  width: 95%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 5px;
  height: 400px;
  background-image: url('./assets/images/MaskGroup1.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 5%;
  margin-top: 5%;
  mix-blend-mode: multiply;
  opacity: 1;
}

.app-header .div3 .quote-div {
  display: flex;
  width: 80%;
  height: 60%;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(43px);
  -webkit-backdrop-filter: blur(43px);
  z-index: 5;
}

.app-header .div3 p {
  text-align: center;
  font: italic normal 600 28px/34px SF Pro Display;
  color: #fff;

}

.app-header,
.app-features {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #0B1D3D;
}

/* Features section */
.app-features {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-left: 2%;
  padding-top: 3%;
  padding-bottom: 5%;
  margin: 0 auto;
  background-image: url('./assets/images/Group1200.svg'),url('./assets/images/Path248.png');
  background-position: bottom 15% right 25%, bottom 0% right 0;
  background-repeat: no-repeat;
}

.app-features .feature-details {
  display: flex;
  flex-direction: column;
}

.app-features .feature-details .line-col{
  display: flex;
  gap: 10%;
  justify-content: space-between;
  position: relative;
}

.app-features .feature-details span.line {
  display: inline-block;
  width: 5px;
  height: 50px;
  position: absolute;
  left: 0;
  background-color: yellowgreen;
}

.app-features .feature-details h2{
  font: italic normal 600 39px/52px Exo;
  color: #0B1D3D;
  margin-left: 3%;
}
.app-features .feature-details .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 400px;
  height: 400px;
  margin-top: 5%;
  padding: 1%;
  border: none;
}
.app-features .feature-details .card-img {
  width: 100px;
  margin: 0 auto;
}

.app-features .feature-details .card-title {
  text-align: left;
  font: italic normal medium;
  font-size: 36px;
  letter-spacing: 0px;
  color: #A3CA4F;
  text-transform: lowercase;
  opacity: 1;
}

.app-features .feature-details .card-text {
  text-align: center;
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0px;
  color: #0B1D3D;
  opacity: 1;
}

.app-features .feature-details button {
  color: yellowgreen;
  background-color: #fff;
  border: yellowgreen solid 1px;
  border-radius: 20px 20px;
  font-size: 24px;
  align-self: center;
  justify-self: center;
  width: 200px
}

.app-features .feature-gallery {
  display: flex;
  gap: 1%;
  margin-bottom: 5%;
}

.app-features .feature-gallery .gallery-img{
  position: relative;
  width: 30.3%;
}

.app-features .feature-gallery .gallery-img img{
  width: 400px;
}
.app-features .feature-gallery .gallery-img p {
  position: absolute;
  color: #fff;
  bottom: 5%;
  left: 50%
}

.app-features .feature-insight{
  display: flex;
  margin-top: 5%;
  padding: 10px;
  gap:4%;
}
.app-features .feature-insight  img{
 width: 400px;
 order: 3;
}

.app-features .feature-insight .insight h4{
  font-size: 38px;
  color: #0B1D3D;
  text-align: left;
}
.app-features  .insight .line-col{
  display: flex;
  gap: 10%;
  justify-content: space-between;
  position: relative;
}
.app-features .insight span.line{
  display: inline-block;
  width: 5px;
  height: 100px;
  position: absolute;
  left: 0;
  background-color: yellowgreen;
}
.app-features .feature-insight .insight p {
  font-size: 28px;
  width: 80%;
  color: #0B1D3D;
  text-align: left;
  padding-left: 3%;
}

/* Clients section */

.app-clients,
.app-blog,
.app-footer {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  padding-left: 2%;
  padding-top: 3%;
  margin: 0 auto;
  font-size: calc(10px + 2vmin);
  color: #121212;
}

.app-clients .clients-title{
  display: flex;
  gap: 10%;
  justify-content: space-between;
  position: relative;
}
.app-clients .clients-title h4{
  font-size: 38px;
  color: #0B1D3D;
  margin-bottom: 5%;
  text-align: left;
}

.app-clients .clients-title span.line{
  display: inline-block;
  width: 80px;
  height: 5px;
  position: absolute;
  bottom: 0;
  background-color: yellowgreen;
}

.app-clients .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3%;
  width: 100%;
  margin-top: 50px;
}
.app-clients .card-container .client-card{
  width: 250px;
  box-shadow: 0px 3px 6px #00000029;
  margin: 10px 10px;
  background-color: #fff;
}

.app-clients .card-container .client-card img{
  width: 200px;
  height: 200px;
}

/* Blog section */
.app-blog {
  width: 90%;
  padding-left: 2%;
  padding-top: 3%;
  margin: 0 auto;
  color: #0B1D3D;
}

.app-blog .line-col {
  display: flex;
  gap: 10%;
  justify-content: space-between;
  position: relative;
}

.app-blog .line-col span.line{
  display: inline-block;
  width: 80px;
  height: 5px;
  position: absolute;
  bottom: 0;
  background-color: yellowgreen;
}

.app-blog .line-col h2{
  font-size: 38px;
  color: #0B1D3D;
  text-align: left;
  margin-bottom: 3%;
}
.app-blog .card{
  width: 400px;
  height: auto;
}

.app-blog .card-img {
  width: 400px;
  padding: 5px;
}

.app-blog .card-title {
  color: blueviolet;
  font-size: 26px;
}

.app-blog .card-text {
  color: #0B1D3D;
  font-size: 24px;
}

.app-blog .card-body button{
  color: yellowgreen;
  text-decoration: none;
  border: none;
  background: none;
  font-size: 20px;
}

.app-blog button {
  color: yellowgreen;
  width: 200px;
  border: yellowgreen solid 1px;
  background: #fff;
  border-radius: 20px 20px;
  font-size: 26px;
  margin: 5% auto;
}

/*Footer section */
.wrap-footer {
  background-color: #0B1D3D;
  width: 98%;
  margin: 0 auto;
}

.app-footer {
  width: 100%;
  display: flex;
  padding: 0;
  flex-direction: column;
  background-image: url('./assets/images/iStock-1082922466.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.app-footer .subcribe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; 
  width: 80%;
  justify-content: space-around;
  height: 200px;
}
.app-footer .subcribe h3{
 font-size: 38px;
 font-weight: 600;
 color: #fff;
}
.app-footer .subcribe button{
 border-radius: 20px 20px;
 width: 120px;
 height: 40px;
 font-size: 20px;
 padding: 5px;
}

.app-footer .info{
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  color: #fff;
  background-image: url('./assets/images/MaskGroup6.png'),url('./assets/images/Rectangle\ 108.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.app-footer .info .col {
  padding-top: 5%;
  width: auto;
}
.app-footer .info .col p{
  font-size: 20px;
}
.app-footer .info .col h4 {
  font-weight: 600;
  margin-bottom: 5%;
}

.app-footer .info form {
  max-width: 300px;
}
.app-footer .info form  h4{
 color: yellowgreen;
 margin-bottom: 5%;
}

.app-footer .info form .form-control{
  width: 250px;
  background: rgba(238, 233, 233, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.app-footer .info form input::placeholder {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}
.app-footer .info form input:focus{
  color: #121212;
  opacity: 0.8;
}

.app-footer .info form button{
  font-weight: 700;
  color: #fff;
  height: 50px;
  background-color: yellowgreen;
  padding: 14px 48px;
  font-size: 20px;
  margin-top: 25px;
  border-radius: 20px 20px;
  position: relative;
  transition: 0.3s ease-in-out;
}
.app-footer .socials{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
}

.app-footer .socials a{
  text-decoration: none;
}
.app-footer .socials a:hover {
  opacity: 0.8;
}

.app-footer .footer-logo{
  display: flex;
  justify-content: space-around;
  margin: 2% 0;
}

.app-footer .footer-logo img {
  display: flex;
  justify-content: space-around;
}
.app-footer .footer-logo p {
 font-size: 20px;
 text-align: left;
 width: 50%;
}

/* Media queries Tablets and Mobiles */

@media (max-width: 821px) {
  /* Header section */
  .app-header {
      background-image: url('./assets/images/Group1197.png'), url('./assets/images/Path898.svg'), url('./assets/images/Group1200.svg'), url('./assets/images/Path948.svg');
      background-position: top 5% right, top 7% right 17px, left 55% bottom 55%, left 0px bottom 55%;
      background-repeat: no-repeat;
      background-size: 50%;
    }
  
    .app-header .div1 {
      margin-top: 25%;
      width: 55%;
    }
    .app-header .div2 {
      display: flex;
      flex-direction: column;
      align-items: start;
      padding: 0 5%;
      margin-top: 25%;
      gap: 10%;
    }
    .app-header .div2 img {
      width: 500px;
      margin: 0 auto;
    }
    .app-header .div2 .content {
      display: flex;
      width: 100%;
      margin-top: 25%;
      margin-bottom: 15%;
      flex-direction: column;
    }
    .app-header .div2 .content span.line {
      width: 8px;
      height: 300px;
    }
    .app-header .div2 .content button {
      width: 200px;
      margin: 0 auto;
    }

    /* features section */
    .app-features {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-left: 2%;
      padding-top: 3%;
      margin: 0 auto;
      background-image: url('./assets/images/Group1200.svg'), url('./assets/images/Path248.png');
      background-position: bottom 15% right 25%, bottom 12% right 0;
      background-repeat: no-repeat;
    }
  
    .app-features .feature-details {
      margin-top: 25%;
    }
    .app-features .feature-gallery {
      display: flex;
      flex-direction: column;
      margin-bottom: 25%;
      margin-top: 10%;
    }
  
    .app-features .feature-gallery .gallery-img {
      width: 100%;
      margin-bottom: 5%;
    }
  
    .app-features .feature-gallery .gallery-img img {
      width: 100%
    }
    .app-features .feature-gallery .gallery-img p {
      font-size: 6rem;
    }
    .app-features .feature-insight {
      display: flex;
      flex-direction: column;
    }
     
    .app-features .feature-insight img {
      width: 500px;
      margin: 5% auto;
      order: 0;
    }
    .app-features .insight span.line {
      width: 5px;
      height: 300px;
    }

    /* Blog section */
    .app-blog {
      width: 90%;
      margin: 15% auto;
    }
    .app-blog .card {
      width: 80%;
      max-width: 800px;
      height: auto;
      margin-top: 3%;
    }
    .app-blog .card-img {
      width: 500px;
      margin: 3% auto;
    }
    .app-blog .line-col span.line {
      width: 200px;
      height: 5px;
    }

  /* footer section*/
    .app-footer .info form {
      width: 700px;
      max-width: 800px;
    }
    .app-footer .info form .form-control {
      width: 100%;
    }

    .app-footer .socials {
      display: flex;
      flex-direction: row;
      width: 700px;
      max-width: 800px;
      justify-content: center;
      gap:25%;
      align-content: center;
      justify-items: center;
      margin: 5% auto;
    }
}

@media screen and (max-width: 821px) {
  nav.navbar {
    padding: 18px 0;
    position: fixed;
    width: 100%;
    max-width: 100vw;
    z-index: 9999;
    transition: 0.35 ease-in-out;
  }

  /* Header section */
  .app-header {
    background-image: url('./assets/images/Group1197.png'), url('./assets/images/Path898.svg'), url('./assets/images/Group1200.svg'), url('./assets/images/Path948.svg');
    background-position: top 5% right, top 7% right 17px, left 55% bottom 55%, left 0px bottom 55%;
    background-repeat: no-repeat;
    background-size: 50%;
  }

  .app-header .div1 {
    margin-top: 25%;
    width: 55%;
  }

  .app-header .div2 {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 5%;
    margin-top: 25%;
    gap: 10%;
  }

  .app-header .div2 img {
    width: 500px;
    margin: 0 auto;
  }

  .app-header .div2 .content {
    display: flex;
    width: 100%;
    margin-top: 25%;
    margin-bottom: 15%;
    flex-direction: column;
  }

  .app-header .div2 .content span.line {
    width: 8px;
    height: 300px;
  }

  .app-header .div2 .content button {
    width: 200px;
    margin: 0 auto;
  }

  .app-header .div3 .quote-div {
    width: 100%;
    height: 60%;
  }

  /* features section */
  .app-features {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 2%;
    padding-top: 3%;
    margin: 0 auto;
    background-image: url('./assets/images/Group1200.svg'), url('./assets/images/Path248.png');
    background-position: bottom 15% right 25%, bottom 12% right 0;
    background-repeat: no-repeat;
  }

  .app-features .feature-details {
    margin-top: 25%;
  }

  .app-features .feature-gallery {
    display: flex;
    flex-direction: column;
    margin-bottom: 25%;
    margin-top: 10%;
  }

  .app-features .feature-gallery .gallery-img {
    width: 100%;
    margin-bottom: 5%;
  }

  .app-features .feature-gallery .gallery-img img {
    width: 100%
  }

  .app-features .feature-gallery .gallery-img p {
    font-size: 6rem;
  }

  .app-features .feature-insight {
    display: flex;
    flex-direction: column;
  }

  .app-features .feature-insight img {
    width: 500px;
    margin: 5% auto;
    order: 0;
  }

  .app-features .insight span.line {
    width: 5px;
    height: 300px;
  }

  /* Blog section */
  .app-blog {
    width: 90%;
    margin: 15% auto;
  }

  .app-blog .card {
    width: 80%;
    max-width: 800px;
    height: auto;
    margin-top: 3%;
  }

  .app-blog .card-img {
    width: 500px;
    margin: 3% auto;
  }

  .app-blog .line-col span.line {
    width: 200px;
    height: 5px;
  }

  /* footer section*/
  .app-footer .info form {
    width: 700px;
    max-width: 800px;
  }

  .app-footer .info form .form-control {
    width: 100%;
  }

  .app-footer .socials {
    display: flex;
    flex-direction: row;
    width: 700px;
    max-width: 800px;
    justify-content: center;
    gap: 25%;
    align-content: center;
    justify-items: center;
    margin: 5% auto;
  }
}

@media screen and (max-width: 600px) {

  /*Navifation bar*/

  /*Navifation bar*/
  nav.navbar {
    padding: 18px 0;
    position: fixed;
    width: 100%;
    max-width: 100vw;
    z-index: 9999;
    transition: 0.35 ease-in-out;
  }

  /* Header section */
  .app-header {
    background-image: url('./assets/images/Group1197.png'), url('./assets/images/Path898.svg'), url('./assets/images/Group1200.svg'), url('./assets/images/Path948.svg');
    background-position: top 5% right, top 6% right 17px, left 55% bottom 55%, left 0px bottom 59%;
    background-repeat: no-repeat;
    background-size: 40%;
  }

  .app-header .div1 {
    margin-top: 63%;
    width: 100%;
  }

  .app-header .div2 img {
    width: 350px;
    max-width: 400px;
    margin: 0 auto;
  }

  .app-header .div3 .quote-div {
    width: 100%;
    height: 60%;
  }

  /* features section */
  .app-features {
    background-image: url('./assets/images/Group1200.svg'), url('./assets/images/Path248.png');
    background-position: bottom 21% right 25%, bottom 20% right 0;
    background-repeat: no-repeat;
    background-size: 73%;
  }

  .app-features .feature-details {
    margin-top: 25%;
  }

  .app-features .feature-gallery .gallery-img img {
    width: 100%;
    max-width: 500px
  }

  .app-features .feature-gallery .gallery-img p {
    font-size: 5rem;
  }

  .app-features .feature-insight img {
    width: 100%;
    max-width: 400px;
  }

  /* Blog section */
  .app-blog {
    width: 100%;
  }

  .app-blog .card {
    width: 80%;
    max-width: 500px;
  }

  .app-blog .card-img {
    width: 100%;
    max-width: 500px;
  }

  /* footer section*/
  .app-footer .info form {
    width: 400px;
    margin: 0 auto;
    max-width: 600px;
  }

  .app-footer .subcribe {
    margin: 0 auto;
    width: 100%;
    align-content: center;
    justify-content: space-around;
    height: 200px;
    max-height: 300px;
  }

  .app-footer .subcribe h3 {
    font-size: 1.8rem;
  }

  .app-footer .info form .form-control {
    width: 100%;
    max-width: 600px;
  }

  .app-footer .col.latest {
    display: none;
  }

  .app-footer .socials {
    display: flex;
    flex-direction: row;
    width: 350px;
    max-width: 600px;
  }
}